<md-grid-list cols="1" gutterSize="4px" rowHeight="600px">
  <md-grid-tile>
    <md-card>
      <md-card-subtitle>Itay: Hello World</md-card-subtitle>
      <md-card-subtitle>Server: HOLA</md-card-subtitle>
      <!--<md-card-title>Card with title</md-card-title>-->
      <md-card-content>
          <md-spinner></md-spinner>
      </md-card-content>
      <md-card-actions class="position-message">
        <textarea mdInput class="msg" placeholder="Your message"></textarea>
        <button md-raised-button class="float-right" color="primary">Send</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>
